.App {
  background-color: #f2f2f2;
  height: 100vh;
  display: grid;
  grid-template-columns: 304px 1fr;
  grid-template-rows: 100px 1fr;
  grid-template-areas:
    "s h"
    "s c";
}

.header {
  grid-area: h;
  display: flex;
  padding: 32px;
  max-width: 1100px;
  justify-content: space-between;
}
.sidebar {
  grid-area: s;
  background-color: #f8f8f8;
}
.main {
  grid-area: c;
  padding: 32px;
}

.block-content,
.block-news {
  display: grid;
  grid-template-columns: repeat(3, 336px);
  gap: 32px;
}
.channels-block {
  display: grid;
  grid-template-columns: repeat(6, 152px);
  gap: 32px;
}

.titleWrapp {
  display: flex;
  justify-content: space-between;
  max-width: 1070px;
}
.headerFilter {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.titleWrapp {
  margin-bottom: 32px;
  margin-top: 32px;
}
.logo {
  padding: 38px 0 18px 60px;
}

.asideBtn {
  width: 272px;
  height: 56px;
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  margin-top: 130px;
  margin-left: 32px;
}
.asideText {
  margin-left: 24px;
}
